*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 4rem 4rem;
}

.wrapper {
  background-color: #062422;
  text-align: center;
  position: relative;
  height: 90vh;
  border-radius: 1rem;
  padding: 2rem 4rem;
  overflow: hidden;
}

.heading {
  font-size: 5rem;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #fff;
  color: #fff;
  letter-spacing: 0.5rem;
}

.info {
  position: fixed;
  /* right: 4%; */
  right: 8rem;
  top: 15%;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #ffffff44;
}

#mistakes,
#maxWrong {
  font-weight: bold;
}

.question__text,
.question__answer {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #fff;
  font-weight: normal;
}

.question__answer {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.question__bgc {
  background-image: url(img/0.jpg);
  height: 40vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.keys {
  margin-top: 2rem;
}

.keys-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 20rem;
}

.letter {
  width: 6rem;
  margin: 1rem 2rem;
  border-radius: 0.3rem;
  padding: 2rem 2rem;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  background-color: #0000ffb9;
  border: 1px solid #0000ffb9;
  outline: none;
  text-decoration: none;
}

.letter.disabled {
  background-color: #333;
  color: #888;
  border: 1px solid #aaa;
  pointer-events: none;
  cursor: default;
}

.letter:hover {
  border: 1px solid #fff;
  background-color: #0000b1b9;
}

.letter:active {
  transform: scale(1.1);
}

.keys__btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: none;
  color: #082c2a;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.keys__btn:hover {
  background-color: #082c2a;
  border: 0.1rem solid #fff;
  color: #fff;
}

.keys__btn:active {
  transform: scale(1.1);
}

.result {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 35vh;
  border: 2px solid #ddd;
  visibility: hidden;
}

.result-win {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 85, 0),
    rgb(11, 100, 3)
  );
  border-color: 1px solid #fff;
}

.result-lost {
  background-image: linear-gradient(
    to right bottom,
    rgb(209, 8, 8),
    rgb(165, 1, 56)
  );
}

.result p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 70px;
  color: #fff;
  font-weight: normal;
}
